<h1 align="center">
  These are our Alpha Bloggers
</h1>

<div align="center">
  <%= will_paginate %>
</div>

<div class="row col-sm-offset-2 col-sm-8">
    <table class="table table-striped">
      <% @users.each do |user| %>
        <tr>
          <td><%= gravatar_for(user, size:40) %></td>
          <td><strong><%= link_to user.username, user_path(user) %></strong></br>
          <small>So far posted: <%= pluralize(user.articles.count, "article") if user.articles %></small></td>
          <td>last article: <%= link_to user.articles.last.title, article_path(user.articles.last) if user.articles %></br>
          <small>created on: <%= user.articles.last.created_at if user.articles %></small></td>
        </tr>
      <% end %>
    </table>
</div>

<div align="center">
  <%= will_paginate %>
</div>

