<!DOCTYPE html>
<html>
<head>
  <title>AlphaBlog</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= "gray-background" if params[:controller] == "pages" && params[:action] == "home" %>">
  
  <%= render "layouts/navigation" %>
  
  <div class="container">
    
    <% if flash.any? %>
      <%= render "layouts/messages" %>
    <% end %>
    
    <%= content_for :errors %>
    
    <%= yield %>
  </div>

  <%= render "layouts/footer" %>
  
</body>
</html>
